<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ruleengine.web.store.mapper.RuleEngineMenuMapper">

    <select id="listMenuByUserId" resultType="cn.ruleengine.web.store.entity.RuleEngineMenu">
            select m.*
            from rule_engine_menu m,
            rule_engine_role r,
            rule_engine_role_menu rm,
            rule_engine_user_role ur
            where ur.user_id = #{userId}
            and ur.role_id = r.id
            and r.id = rm.role_id
            and rm.menu_id = m.id
    </select>
</mapper>
