<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ruleengine.web.store.mapper.RuleEngineConditionMapper">

    <update id="updateRuleWaitPublish">
        update rule_engine_general_rule rule
        set rule.status = 0
        where rule.status in (1, 2)
          and rule.id in (select distinct r.general_rule_id
                          from rule_engine_general_rule_publish r
                          where r.deleted = 0
                            and JSON_CONTAINS(r.reference_data -> '$.conditionIds', JSON_ARRAY(#{conditionId})));
    </update>

    <select id="updateRuleSetWaitPublish">
        update rule_engine_rule_set rule
        set rule.status = 0
        where rule.status in (1, 2)
          and rule.id in (select distinct r.rule_set_id
                          from rule_engine_rule_set_publish r
                          where r.deleted = 0
                            and JSON_CONTAINS(r.reference_data -> '$.conditionIds', JSON_ARRAY(#{conditionId})));
    </select>

</mapper>
