<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ruleengine.web.store.mapper.RuleEngineRoleMapper">

    <select id="listRoleByUserId" resultType="cn.ruleengine.web.store.entity.RuleEngineRole">
            select r.*
            from rule_engine_role r,
                rule_engine_user_role ur
            where r.id = ur.role_id
            and ur.user_id = #{userId}
    </select>
</mapper>
