<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.engine.web.store.mapper.RuleEngineVariableMapper">


    <select id="countPublishRuleVar" resultType="java.lang.Integer">
         select count(*)
            from rule_engine_rule_publish r
            where r.deleted = 0 and  JSON_CONTAINS(r.data -> '$**.variableId', JSON_ARRAY(#{variableId}))
    </select>

</mapper>
